<div id='upload-form'>

	<%= form_tag({action: :create}, multipart: true) do %>
	  <%= text_field_tag 'title' %>
	  <%= file_field_tag 'picture' %>
	  <%= submit_tag %>
	<% end %>

	 <%= link_to 'Take a Picture', notes_new_path, remote: true, id: "camera" %>

</div>