<div id='upload-form'>

	<%= form_tag({action: :create}, multipart: true) do %>
	  <%= text_field_tag 'title' %>
	  <%= file_field_tag 'picture' %>
	  <%= submit_tag %>
	<% end %>

	<%= link_to 'Take a Picture', new_note_path, remote: true, id: "summon-camera" %>

<%= link_to new_note_path, class: "waves-effect waves-light btn", remote: true, id: "summon-camera" do %>
  <i class="material-icons left">camera</i> Take a Picture
<% end %>



</div>