<div id='upload-form'>



  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">note_add</i>Upload an Image</div>
        <div class="collapsible-body camera-container">
        <div id= "form-thing">
        <%= form_tag({action: :create}, multipart: true ) do %>
        <%= text_field_tag 'title', 'Title', :onclick => 'if($(this).val()=="Title"){$(this).val("");};' %>



        <div class="upload fileinput-button   ">SELECT

        <%= file_field_tag 'picture', class: "select" %>

        </div>



<br>

        <%= submit_tag " Submit", class:'btn'%>
<br/>

        <% end %><br><br>
        </div>
      </div>
    </li>
    <li>

      <div class="collapsible-header  camera-caller"><i class="material-icons">camera</i>Take a Picture</div>

      <div class="collapsible-body" >Take a Picture of your document
      <%= render partial: 'camera' %>
      </div>
    </li>
  </ul>




</div>