<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <br>
<% end %>

<%= form_for @note do |f| %>
	<%= f.text_area :text, style: "display:none" %>
	<ul class="collapsible top" data-collapsible="accordion">
	    <li>
	      <div class="collapsible-header"><i class="material-icons">note_add</i>Upload Another File</div>
	      <div class="collapsible-body camera-container">
        <div class="upload">
        SELECT
          <%= f.file_field :picture, class: "upload" %>
        </div>
       <br>
			<%= f.submit " Submit", class:'btn' %>
	     <br/>
        </div>
	    </li>
	    <li>
	      <div class="collapsible-header edit-camera-caller "><i class="material-icons">camera</i>Take a picture</div>

	      <div class="collapsible-body" >Take a Picture of your Document
	      <%= render partial: 'camera' %>
	      </div>
	    </li>

  	</ul>



<% end %>

<div id='camera-container'></div>




<%= link_to oauth2_path, class: "bot-marg waves-effect waves-light btn fontcol" do %>
  <i class="material-icons left">cloud</i> Send
<% end %>
<br>

<%= link_to sendtwilio_path, class: "bot-marg waves-effect waves-light btn fontcol" do %>
  <i class="material-icons left">sms</i> SMS
<% end %>
